*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
    overflow-x: hidden;
    overflow-y: auto;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}
:root{
    --primary-color:#122CEC;
    --secondary-color:#909EFF;
}
/* ScrollBar */
::-webkit-scrollbar{
    width: 11px;
    cursor: pointer;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
    background-color: #D5B8FF;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color:#122CEC;
}
::-webkit-scrollbar-thumb:hover{

}

/*Home*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#home::before{
    content:"";
    background: -webkit-linear-gradient(45deg,whitesmoke,var(--secondary-color));
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#home h1{
    padding: 10px 120px;
}
.homepage{
    width: 100%;
    height: 100%;
}
.home_text{
    float: right;
    padding: 20px 175px 0px 0px ;
    margin: 0px 5px;
}
.home_title{
    float: left;
}
.home_text p{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 10px;
    color: var(--primary-color);
    padding: 4px;
}

/*AddCourse Section*/
#addcourse h1{
    color: tomato;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-shadow:0 0 1px rgb(219, 54, 25);
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
input {
    width: 100%;
    padding: 15px;
}
.search-form {
    max-width: 400px;
    margin: 50px auto;
}

/* TIMETABLE Section */

#Timetable h1{
    color: tomato;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-shadow:0 0 1px rgb(219, 54, 25);
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* Utility Class */
.hl {
    background: #ffc600;
}
.h-1{
    font-size: 4rem;
    color: var(--primary-color);
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
   
}
.h-2{
    font-size: 4rem;
    color: var(--secondary-color);
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    
}
.btn{
    display: block;
    padding: 10px 30px;
    margin: 30px 0px 0px 100px;
    background-color:black;
    box-shadow: 5px 5px 8px gray;
    color: whitesmoke;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease-in;
}
.btn:hover{
    background-color:var(--secondary-color);
    color:black;
    outline: none;
}
.btn a{
    text-decoration: none;
    color: azure;
    font-size: 1rem;
    outline: none;
}
.CC{
    float: right;
    padding: 5px 170px 0px 0px;
    margin: 15px 5px 0px 0px;
}
.btn1{
    padding: 13px 11px;
    margin: 5px 0px;
}
.btn2{
    padding: 5px 34px;
    margin: 5px 0px;
}

/* Footer Class  */
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    color: #fff;   
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    padding-top: 10px;
    line-height: 40px;
    font-size: 2rem;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1 rem 0 3rem 0;
    padding: 15px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 2rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;  
}
.footer-bottom p{
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    font-weight: 200;
    color: aqua;
}

/* SlideOnScroll CSS */

.slide-in {                 /*Hides the image*/
    opacity: 0;
    transition: all .5s;
}
.align-left.slide-in {      /*Moves the image out of the screen*/
    transform: translateX(-90%) scale(0.95);
}
.slide-in.active {          /*Makes the image visible and back to their original space*/
    opacity: 1;
    transform: translateX(0%) scale(1);
}

/* Scroll to top CSS */

.scroll-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color:#2196F3;
    background-color: #D5B8FF;
    opacity: 90%;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
.scroll-to-top:hover{
    font-size: 40px;
}
